.header__lang-link {
    color: #fff;
    text-decoration: none;
    line-height: 28px;
    font-size: 24px;
}

.header__lang-link:hover {
    opacity: .8;
    transform: .3s;
}

@media screen and (max-width: 767px) {
    .header__lang-link {
        font-size: 18px;
        line-height: 20px;
    }
}