.place__title {
    margin: 0 40px 0 0;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    flex-basis: 460px;
    align-self: end;
}

@media screen and (max-width: 1279px) {
    .place__title {
        flex-basis: 440px;
        margin-right: 32px;
    }
}

@media screen and (max-width: 1023px) {
    .place__title {
        font-size: 42px;
        line-height: 46px;
        flex-basis: 340px;
        margin-right: 28px;
    }
}

@media screen and (max-width: 767px) {
    .place__title {
        font-size: 32px;
        line-height: 35px;
        margin: 0 16px 32px;
        align-self: start;
        flex-basis: auto;
        min-width: 288px;
    }
}