.place__flex-row {
    display: flex;
}

.place__flex-row:first-of-type {
    margin-bottom: 48px;
}

@media screen and (max-width: 767px) {
    .place__flex-row {
        flex-direction: column;
        margin-bottom: 0;
    }

    .place__flex-row:first-of-type {
        margin-bottom: 32px;
    }
}