.container {
    margin: 0 148px;
}

@media screen and (max-width: 1279px) {
    .container {
        margin: 0 48px;
    }
}

@media screen and (max-width: 1023px) {
    .container {
        margin: 0 24px;
    }

    .container:first-of-type {
        margin: 0;
    }
}

@media screen and (max-width: 767px) {
    .container {
        margin: 0;
    }
}